*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}



.content{
    width: 100%;/*  */
    min-height: 100vh;
    /* background: linear-gradient(135deg,#153677,#4e085f); */

    /* background-color: #FFFFFF;
     background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%); */

     background: linear-gradient(#0f2027,#203a43,#2c5364);
    padding: 20px;
}

.To-do{
    width: 100%;
    height: auto;
    max-width: 550px;
    min-height: 270px;
    /* background-color: white; */
background-image: radial-gradient( circle 341px at 10% 20%,  rgba(132,94,194,1) 0%, rgba(196,243,251,1) 90% );

    

    



    margin: 100px auto 20px;
    border-radius:10px;
    margin-top: 70px;
}

.to{
    display: flex;
    margin: 50px;
    margin-top: 40px;
}
.to img{
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 37px;


}
.to h2{
    color: #002765;
    margin-top: 40px;

}

/*
.To-do h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.To-do h2 img{
    width: 30px;
    margin-left: 10px;
} 
*/




.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #edeef0; */
    background-image: linear-gradient( 109.6deg,  rgba(30,198,198,1) 11.3%, rgba(47,127,164,1) 50.1%, rgba(6,92,147,1) 100.2% );

    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    background-color: linear-gradient( 109.6deg,  rgba(30,198,198,1) 11.3%, rgba(47,127,164,1) 50.1%, rgba(6,92,147,1) 100.2% );
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 40px;
    /* background: #ff5945; */
    background-image: linear-gradient( 90.1deg,  rgba(8,81,98,1) 14.5%, rgba(198,231,249,1) 135.4% );
    color: #ffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    margin-left: 20px;
    bottom: 10px;
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(cir.png);
    background-size: cover;
    background-position: center;
    display: inline;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color:rgba(6,92,147,1)  ;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(cir_3.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-style: 25px;
    /* color: #555; */
    color: rgba(6,92,147,1) ;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
}

ul li span:hover{
    background: #edeef0;
}